@using System.Configuration;
@{
    Page.Title = ConfigurationManager.AppSettings["site:Title"];
    Page.SubTitle = ConfigurationManager.AppSettings["site:SubTitle"];
    Page.Description = ConfigurationManager.AppSettings["site:Description"];
    Page.CanonicalUrl = ConfigurationManager.AppSettings["site:Uri"];
    Page.Author = ConfigurationManager.AppSettings["site:Author"];
    Page.Copyright = ConfigurationManager.AppSettings["site:Copyright"];
    
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400" rel="stylesheet" type="text/css">
    <link href="@FingerPrintUrl.Create("/css/Site.css")" rel="stylesheet" type="text/css" media="screen">
    <title>@Page.Title - @Page.SubTitle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="@Page.Description" />
    <meta name="keywords" content="@Page.Keywords" />
    <meta name="author" content="@Page.Author" />
    <meta name="copyright" content="@Page.Copyright" />
    <link rel="canonical" href="@Page.Canonical" />
    @HtmlHelper.CreateAnalyticsJs()
</head>
<body>
    <header>
        <h1>@Page.Title</h1><small>@Page.SubTitle</small>
    </header>
    <main>
        <div id="content">
            <h2>Oops, something went wrong.</h2>
            <p>Please try again.</p>
        </div>
    </main>
</body>
</html>
